@model IndividualProjectCapstone.Models.ActiveProjectViewModel

@{
    ViewData["Title"] = "ActiveProjectIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Row layout, left are active projects, right is completed project with option to leave reviews *@
<br />
    <div class="row">
        <div class="container col-5">
            <h2>Active Projects</h2>
            @if (Model.ActiveProjects.Count() == 0)
            {
                <div class="jumbotron">
                    <h3 class="text-info">Looks like you don't have any active projects! Go back to the main page and start applying!</h3>
                </div>
            }
            else
            {


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Project Name
                        </th>
                        <th>
                            Project Lead
                        </th>
                        <th>

                        </th>
                        <th>
                            <input class="form-inline form-control" id="myInput" type="text" placeholder="Filter">
                        </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model.ActiveProjects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Developer.UserName)
                            </td>
                            <td>
                                <a type="button" class="btn btn-success" asp-action="ProjectDetails" asp-route-id="@item.Id">Project Details</a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-danger" asp-action="LeaveProject" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </div>
        @* Table containing completed projects *@
    <div class="container col-5">
        <h2>Completed Projects</h2>
        @if (Model.CompletedProjects.Count() == 0)
        {
            <div class="jumbotron">
                <h3 class="text-info">No Completed Projects</h3>
            </div>
        }
        else
        {


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Project Lead
                    </th>
                    <th>

                    </th>
                    <th>
                        <input class="form-inline form-control" id="myInput" type="text" placeholder="Filter">
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model.CompletedProjects)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Developer.UserName)
                        </td>
                        <td>
                            <a type="button" class="btn btn-success" asp-action="ProjectDetails" asp-route-id="@item.Id">Project Details</a>
                        </td>
                        <td>
                            @* Location of drop down button *@
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-primary">Reviews</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                        @foreach (var eachMember in item.DeveloperMembers)
                                        {
                                            <a class="dropdown-item" asp-action="CreateReview" asp-route-id="@eachMember.Id">@eachMember.UserName</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
        
    </div>

