@model IndividualProjectCapstone.Models.DeveloperViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    </head>
<br />

@* I will be going with a card design for this project *@

<br />
<h1>Available Projects</h1>
<div class="card-deck" style="width: 100%">
    @foreach (var EachProject in Model.AllProjects)
    {
        <div class="card text-white bg-primary m-2 p-2" style="min-width: 20rem; min-height: 30rem;">
            <div class="card-header">@EachProject.Name</div>
            <div class="card-body text-center">
                <span class="badge badge-pill badge-info">@EachProject.PrimaryTechnology</span><span class="badge badge-pill badge-info">@EachProject.SecondaryTechnology</span>
                <p class="card-text">@EachProject.Description</p>
                <p class="card-text">Project Owner: <a asp-action="ProfileIndex" asp-route-id="@EachProject.DeveloperId">@EachProject.Developer.UserName</a>
                <a type="button" class="btn btn-info btn-sm" href="#ex1" rel="modal:open">See Messages!</a>
                </p>
                <p>Open Roles</p>
                @foreach (var EachOpening in EachProject.Openings)
                {@if (EachOpening.IsFilled == false)
                    {<a asp-action="RoleIndex" asp-route-id="@EachOpening.Id">
                            <p class="card-text">
                                @if (EachOpening.RoleId == 1)
                                {
                                    <span class="badge badge-pill badge-info">Front-end</span>
                                }
                                else if (EachOpening.RoleId == 2)
                                {
                                    <span class="badge badge-pill badge-info">Back-end</span>
                                }
                                else if (EachOpening.RoleId == 3)
                                {
                                    <span class="badge badge-pill badge-info">Full-Stack</span>

                                }
                                else
                                {
                                    <span class="badge badge-pill badge-info">DT-Engineer</span>
                                }:
                                @if (EachOpening.ProficiencyLevelNeeded == 1)
                                {
                                    <span class="badge badge-pill badge-success">Beginner</span>
                                }
                                else if (EachOpening.ProficiencyLevelNeeded == 2)
                                {
                                    <span class="badge badge-pill badge-warning">Intermediate</span>
                                }
                                else if (EachOpening.ProficiencyLevelNeeded == 3)
                                {
                                    <span class="badge badge-pill badge-light">Advanced</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-danger">Expert</span>
                                }
                            </p>
                        </a>
                    }
            }
                <p>Current Members</p>



                @if (EachProject.DeveloperMembers.Count == 0)
                {
                    <p class="card-text text-warning">No current members</p>
                }
                else
                {
                    @foreach (var EachMember in EachProject.DeveloperMembers)
                    {
                        <span class="badge badge-pill badge-info">
                            <a asp-action="ProfileIndex" asp-route-id="@EachMember.Id">@EachMember.UserName</a>
                        </span>

                    }



                }

            </div>
        </div>
    }
</div>

@* Signalr implementation, group chat ability *@
<div id="ex1" class="modal" style="max-height: 100%;overflow-y:auto">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <form class="form-inline">
                    <div class="input-prepend input-append">
                        <input type="text" name="group-message" id="group-message-text" placeholder="Type a message" />
                        <input type="text" name="group-name" id="group-name" placeholder="Type a group name" />
                        <input type="button" id="groupmsg" class="btn btn-primary" value="Send to Group" />
                        <input type="button" id="join-group" class="btn btn-primary" value="Join Group" />
                        <input type="button" id="leave-group" class="btn btn-primary" value="Leave Group" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <a href="#" rel="modal:close">Close</a>
</div>

    @* Signalr scripts *@
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    @* Modal Scripts *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
