@model IndividualProjectCapstone.Models.PendingApplicationsViewModel

@{
    ViewData["Title"] = "PendingIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a type="button" class="btn btn-outline-success" asp-action="ProjectIndex">Back To Your Projects!</a>
</p>
@* I will be going with a card design for this project *@
<div class="jumbotron-fluid">
    @if (Model.Opening.RoleId == 1)
    {
        <h1 class="display-4">Pending Applications for Front End Role</h1>
    }
    else if (Model.Opening.RoleId == 2)
    {
        <h1 class="display-4">Pending Applications for Back End Role</h1>
    }
    else if (Model.Opening.RoleId == 3)
    {
        <h1 class="display-4">Pending Applications for Full Stack Role</h1>
    }
    else
    {
        <h1 class="display-4">Pending Applications for Database Engineer</h1>
    }
    @if (Model.Opening.ProficiencyLevelNeeded == 1)
    {
        <h3 class="display-4">Skill Level: Beginner</h3>
    }
    else if (Model.Opening.RoleId == 2)
    {
        <h3 class="display-4">Skill Level: Intermediate</h3>
    }
    else if (Model.Opening.RoleId == 3)
    {
        <h3 class="display-4">Skill Level: Adavanced</h3>
    }
    else
    {
        <h3 class="display-4">Skill Level: Expert</h3>
    }

    <p class="lead">Role example user story: <br />@Model.Opening.ExampleUserStory</p>
    <hr class="my-4" />
    <p class="lead">
        Developer Applications:
        @foreach (var EachApplication in Model.PendingApplications)
        {
    <p class="lead">
        Username: @EachApplication.Developer.UserName<br />
        About User: @EachApplication.Developer.AboutUser<br />
        Developer Type:
        @if (EachApplication.Developer.RoleId == 1)
        {
            <span class="badge badge-pill badge-info">Front-end</span>
        }
        else if (EachApplication.Developer.RoleId == 2)
        {
            <span class="badge badge-pill badge-info">Back-end</span>
        }
        else if (EachApplication.Developer.RoleId == 3)
        {
            <span class="badge badge-pill badge-info">Full-Stack</span>
        }
        else
        {
            <span class="badge badge-pill badge-info">DT-Engineer</span>
        }| Proficiency Level:
        @if (EachApplication.Developer.ProficiencyLevel == 1)
        {
            <span class="badge badge-pill badge-success">Beginner</span>
        }
        else if (EachApplication.Developer.ProficiencyLevel == 2)
        {
            <span class="badge badge-pill badge-warning">Intermediate</span>
        }
        else if (EachApplication.Developer.ProficiencyLevel == 3)
        {
            <span class="badge badge-pill badge-light">Advanced</span>
        }
        else
        {
            <span class="badge badge-pill badge-warning">Expert</span>
        }
        <a type="button" class="btn btn-success" asp-action="AcceptPendingApplication" asp-route-id="@EachApplication.Id">Accept Application</a>
        <a type="button" class="btn btn-danger" asp-action="DenyPendingApplication" asp-route-id="@EachApplication.Id">Deny Appilcation</a>
    </p>
        @if (Model.PendingApplications.Count() == 0)
        {
            <h3 class="text-danger btn-outline-danger">No Current Applications!</h3>
        }
        <br />
    }

</div>





