@model IndividualProjectCapstone.Models.DeveloperViewModel

@{
    ViewData["Title"] = "OwnProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Your Projects!</h1>

<p>
    <br />
    <a type="button" class="btn btn-outline-success" asp-action="CreateProject">Create A Project!</a>
</p>
@* I will be going with a card design for this project *@
<div class="container">
    @if (Model.AllProjects.Count() == 0)
    {
        <div class="jumbotron">
            <h1>Looks like you don't have any projects! Get started by selecting the create project above</h1> 
        </div>
    }
    
    <div class="card-deck" style="width: 100%">
        @foreach (var EachProject in Model.AllProjects)
        {
            <div class="card text-white bg-primary m-2 p-2" style="min-width: 20rem; min-height: 30rem;">
                <div class="card-header">@EachProject.Name</div>
                <div class="card-body text-center">
                    <span class="badge badge-pill badge-light">@EachProject.PrimaryTechnology</span><span class="badge badge-pill badge-light">@EachProject.SecondaryTechnology</span>
                    <p class="card-text">@EachProject.Description</p>
                    <p class="card-text">Project Owner: @EachProject.Developer.UserName</p>
                    @if (EachProject.IsComplete == false)
                    {
                        <a type="button" class="btn btn-warning btn-sm" asp-action="CreateRole" asp-route-id="@EachProject.Id">Create Role</a>
                        <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@EachProject.Id">Delete Project</a>
                        <a type="button" class="btn btn-success btn-sm" asp-action="MarkComplete" asp-route-id="@EachProject.Id">Mark Completed</a>
                    }
                    else
                    {
                        <a href="#" type="button" class="btn btn-warning disabled">Completed</a>
                    }

                    <p>Open Roles</p>
                    @foreach (var EachOpening in EachProject.Openings)
                    {@if (EachOpening.IsFilled == false)
                        {
                            <p class="card-text">
                                @if (EachOpening.RoleId == 1)
                                {
                                    <span class="badge badge-pill badge-info">Front-end</span>
                                }
                                else if (EachOpening.RoleId == 2)
                                {
                                    <span class="badge badge-pill badge-info">Back-end</span>
                                }
                                else if (EachOpening.RoleId == 3)
                                {
                                    <span class="badge badge-pill badge-info">Full-Stack</span>

                                }
                                else
                                {
                                    <span class="badge badge-pill badge-info">DT-Engineer</span>
                                }:
                                @if (EachOpening.ProficiencyLevelNeeded == 1)
                                {
                                    <span class="badge badge-pill badge-success">Beginner</span>
                                }
                                else if (EachOpening.ProficiencyLevelNeeded == 2)
                                {
                                    <span class="badge badge-pill badge-warning">Intermediate</span>
                                }
                                else if (EachOpening.ProficiencyLevelNeeded == 3)
                                {
                                    <span class="badge badge-pill badge-light">Advanced</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-danger">Expert</span>
                                }
                                <a type="button" class="btn btn-secondary btn-sm text-black-50" asp-action="PendingIndex" asp-route-id="@EachOpening.Id">Pending Applicants!</a>
                            </p>
                        }
                }
                    <p>Current Members</p>



                    @if (EachProject.DeveloperMembers.Count() == 0)
                    {
                        <p class="card-text text-warning">No current members</p>
                    }
                    else
                    {
                        @foreach (var EachMember in EachProject.DeveloperMembers)
                        {
                            <span class="badge badge-pill badge-info">
                                <a asp-action="ProfileIndex" asp-route-id="@EachMember.Id">@EachMember.UserName</a>
                            </span>
                            @if (EachMember.RoleId == 1)
                            {
                                <span class="badge badge-pill badge-info">Front-end</span>
                            }
                            else if (EachMember.RoleId == 2)
                            {
                                <span class="badge badge-pill badge-info">Back-end</span>
                            }
                            else if (EachMember.RoleId == 3)
                            {
                                <span class="badge badge-pill badge-info">Full-Stack</span>

                            }
                            else
                            {
                                <span class="badge badge-pill badge-info">DT-Engineer</span>
                            }
                            @if (EachMember.ProficiencyLevel == 1)
                            {
                                <span class="badge badge-pill badge-success">Beginner</span>
                            }
                            else if (EachMember.ProficiencyLevel == 2)
                            {
                                <span class="badge badge-pill badge-warning">Intermediate</span>
                            }
                            else if (EachMember.ProficiencyLevel == 3)
                            {
                                <span class="badge badge-pill badge-light">Advanced</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-danger">Expert</span>
                            }
                            @if (EachProject.IsComplete == true)
                            {
                                <a type="button" class="btn btn-warning" asp-action="CreateReview" asp-route-id="@EachMember.Id">Create Review</a>
                            }
                        }

                    }







                </div>
                      
</div>
        }
        </div>
    </div>


