@model IndividualProjectCapstone.Models.DeveloperViewModel

@{
    ViewData["Title"] = "OwnProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a type="button" class="btn btn-outline-success" asp-action="CreateProject">Create A Project!</a>
    <a type="button" class="btn btn-outline-success" asp-action="Index">Go back to all projects!</a>
</p>
@* I will be going with a card design for this project *@
<div class="container">
    <h2>Projects</h2>
    @if (Model.AllProjects is null)
    {
<div class="jumbotron">
    <h1>Looks like you don't have any projects!</h1> 
</div>
    }
    
    <div class="card-columns">
        @foreach (var EachProject in Model.AllProjects)
        {
            <div class="card text-white bg-primary m-4" style="width: 25rem; height: 15rem;" >
                <div class="card-header">@EachProject.Name</div>
                <div class="card-body text-center">
                    <span class="badge badge-pill badge-info">@EachProject.PrimaryTechnology</span><span class="badge badge-pill badge-info">@EachProject.SecondaryTechnology</span>
                    <p class="card-text">@EachProject.Description</p>
                    <p class="card-text">Project Owner: @EachProject.Developer.UserName</p>
                    @foreach (var EachOpening in EachProject.Openings)
                    {@if (EachOpening.IsFilled == false)
                        {
                            <p class="card-text">@EachOpening.RoleType: @EachOpening.ProficiencyLevelNeeded</p>
                        }

                }
                    @if (EachProject.DeveloperMembers is null)
                    {
                        <p class="card-text text-warning">No current members</p>
                    }
                    else
                    {
                        @foreach (var EachMember in EachProject.DeveloperMembers)
                        {
                            <p class="card-text ">@EachMember.UserName: @EachMember.RoleType</p>

                        }
                    }
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                           
                            <input type="hidden" asp-for="AboutUser" class="form-control" />
                            <span asp-validation-for="AboutUser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>





    @*OLD MATERIAL - TO BE REPLACED
        <table class="table">
        <thead>
            <tr>

                <th>
                    Project
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Roles Needed
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.DeveloperType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProficiencyLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AboutUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeveloperType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProficiencyLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AboutUser)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>*@
